knozenmap/knozenmap.xcodeproj/project.xcworkspace/xcuserdata/*
knozenmap/knozenmap.xcodeproj/xcuserdata/*
knozenmap/knozenmap.xcworkspace/xcuserdata/*
knozenmap/Pods/*
knozenmap/knozenmap.xcodeproj/project.xcworkspace/xcshareddata/knozenmap.xccheckout
knozenmap/knozenmap.xcworkspace/xcshareddata/knozenmap.xccheckout